body{
    margin: 0 auto;
    width: 1fr;
    min-height: 100vh;
    background-color: rgba(31, 41, 55);
    display: grid;
    grid-template:
        "...... ...... ...... ...... ......" 0px
        "header header header header header" 100px
        "...... ...... ...... ...... ......" 0px
        " left  ...... main   ...... right " auto
        "...... ...... ...... ...... ......" 0px
        "footer footer footer footer footer" 80px
        "...... ...... ...... ...... ......" 0px
        / 400px 0px 1fr 0px 400px;
}
header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    color: rgba(212,199,170,1);
    border-bottom: 6px solid rgba(55,65,81,1);
}
.left {
    grid-area: left;
    color: rgba(212,199,170,1);
    
}
.right {
    grid-area: right;
    color: rgba(212,199,170,1);
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
    width: 100%;
    padding: auto;
    text-align: center;

    background-color: #374151;
}