@media (max-width:900px ){
.ranking {
    width:100%;
}
.rank{
    width:100%;
}
.rank_1st{
    display:flex;
    justify-content: center;
}

.streamer{
    transform: scale(0.7);
    transform-origin: center;
    margin:0 auto;
}
.sns_stars{
    margin-right:18px;
}
.separate{
    display:flex;
    justify-content: center;
    width: 100%;
}
.main_grid{
    display:block;
    width: 100%;
    grid-template-columns: none;
}
}
